
// Newsleter variables
$newsletter-wrapper-background-color : #eee;
$newsletter-border-color:#000;
$newsletter-title-color:$brand-primary;
$newsletter-title-bg-color:#999;
$newsletter-title-border-bottom-color : #000000;
$newlstter-icon-content:"\f107";
$newlstter-icon-open-content : "\f106";
$newlstter-icon-color :#000;
$newsletter-prefixtext-color : #000;
$newsletter-submit-bg-color : $brand-primary;
$newsletter-submit-text-color : #fff;
$newsletter-submit-border-color : #666;
$newsletter-submit-border-radius : 10px;
$newsletter-submit-bg-color-hover : #fff;
$newsletter-submit-text-color-hover : #000;
$newsletter-input-bg-color : #fff;
$newsletter-input-text-color : #000;
$newsletter-input-border-color : #ccc;
$newsletter-input-border-radius : 0;
$newsletter-text-error-color : #fff;
$newsletter-asButton-button-bg-color : #fff;
$newsletter-asButton-button-border-color : #000;
$newsletter-asButton-button-text-color:#000;
$newsletter-asButton-button-bg-color-hover : #000;
$newsletter-asButton-button-border-color-hover : #000;
$newsletter-asButton-button-text-color-hover : #fff;



.page-newsletter-subscribe {
  .page-header {
    display:none;
  }
}

#newsletter {
  .asWidget {
    .button {
      display: none;
    }
    position: fixed;
    bottom: 0;
    z-index: 100000;
    right: 0;
    background-color: $newsletter-wrapper-background-color;
    border:1px solid $newsletter-border-color;
    width: 250px;
    .container {
      padding: 0;
      width: 100%;
    }
    .block__title {
      color:$newsletter-title-color;
      background-color:$newsletter-title-bg-color;
      padding:10px;
      border-bottom: 1px solid $newsletter-title-border-bottom-color;
      margin: 0;
      font-size:$font-size-base;
      cursor:pointer;
      position:relative;
      &:after {
        display: inline-block;
        font: normal normal normal 14px/1 FontAwesome;
        font-size: inherit;
        text-rendering: auto;
        -webkit-font-smoothing: antialiased;
        font-size:$font-size-base;
        content: $newlstter-icon-content;
        color: $newlstter-icon-color;
        position: absolute;
        right: 7px;
        top: 50%;
        transform: translateY(-50%);

      }

      &.isClosed {
        &:after {
          content: $newlstter-icon-open-content;
        }
      }
    }
    .block__content {
      padding:10px;
      height: auto;
      animation: animateNewsletterHeight .2s;

      .prefix {
        color:$newsletter-prefixtext-color;
        margin-bottom: 14px;
        font-size: $font-size-base;
      }

      form {
        .form-item-email {
          float:left;
          input {
            background-color: $newsletter-input-bg-color;
            color: $newsletter-input-text-color;
            border:1px solid $newsletter-input-border-color;
            border-radius: $newsletter-input-border-radius;
          }
        }

        #subscribe {
          float:right;
          width:20%;
          input[type="submit"] {
            width:100%;
            background-color: $newsletter-submit-bg-color;
            color: $newsletter-submit-text-color;
            border:1px solid $newsletter-submit-border-color;
            border-radius: $newsletter-submit-border-radius;
            transition:background-color .4s linear;
            &:hover {
              background-color: $newsletter-submit-bg-color-hover;
              color: $newsletter-submit-text-color-hover;
            }
          }
        }

      }


      &.isClosed {
        padding:0;
        display:none;

      }

    }
  }

  .asPrefooter {
    .button {
      display: none;
    }
    background-color: $newsletter-wrapper-background-color;
    .block__title {
      color:$newsletter-title-color;
      font-size:$font-size-large;
    }
    .block__content {
      .prefix {
        color:$newsletter-prefixtext-color;
        margin-bottom: 10px;
        font-size: $font-size-base;
      }

      form {
        .form-item-email {
          float:left;
          width: 79%;
          input {
            background-color: $newsletter-input-bg-color;
            color: $newsletter-input-text-color;
            border:1px solid $newsletter-input-border-color;
            border-radius: $newsletter-input-border-radius;
          }
        }

        #subscribe {
          float:right;
          width:20%;
          input[type="submit"] {
            position: relative;
            top: 3px;
            width:100%;
            background-color: $newsletter-submit-bg-color;
            color: $newsletter-submit-text-color;
            border:1px solid $newsletter-submit-border-color;
            border-radius: $newsletter-submit-border-radius;
            transition:background-color .4s linear;
            &:hover {
              background-color: $newsletter-submit-bg-color-hover;
              color: $newsletter-submit-text-color-hover;
            }
          }
        }

      }


      &.isClosed {
        padding:0;
        display:none;

      }

    }
  }

  .asSidebarItem {
    .button {
      display: none;
    }
    //background-color: $newsletter-wrapper-background-color;
    .container {
        width:auto;
      background-color: $newsletter-wrapper-background-color;
    }
    .block__title {
      color:$newsletter-title-color;
      font-size:$font-size-large;
    }
    .block__content {
      .prefix {
        color:$newsletter-prefixtext-color;
        margin-bottom: 10px;
        font-size: $font-size-base;
      }

      form {
        .form-item-email {
          float:left;
          width: 79%;
          input {
            background-color: $newsletter-input-bg-color;
            color: $newsletter-input-text-color;
            border:1px solid $newsletter-input-border-color;
            border-radius: $newsletter-input-border-radius;
          }
        }

        #subscribe {
          float:right;
          width:20%;
          input[type="submit"] {
            position: relative;
            top: 3px;
            width:100%;
            background-color: $newsletter-submit-bg-color;
            color: $newsletter-submit-text-color;
            border:1px solid $newsletter-submit-border-color;
            border-radius: $newsletter-submit-border-radius;
            transition:background-color .4s linear;
            &:hover {
              background-color: $newsletter-submit-bg-color-hover;
              color: $newsletter-submit-text-color-hover;
            }
          }
        }

      }


      &.isClosed {
        padding:0;
        display:none;

      }

    }
  }
  .asFixedButton {
    position: fixed;
    top: 50%;
    z-index: 100000;
    right: 0;
    background-color: $newsletter-wrapper-background-color;
    border:1px solid $newsletter-border-color;
    width: 250px;
    transform: translateX(0);
    transition:all .5s linear;
    .container {
      padding: 0;
      width: 100%;
    }
    .block__title {
      color:$newsletter-title-color;
      background-color:$newsletter-title-bg-color;
      padding:10px;
      border-bottom: 1px solid $newsletter-title-border-bottom-color;
      margin: 0;
      font-size:$font-size-base;
      cursor:pointer;
    }
    .block__content {
      padding:10px;
      height: auto;
      animation: animateNewsletterHeight .2s;

      .prefix {
        color:$newsletter-prefixtext-color;
        margin-bottom: 14px;
        font-size: $font-size-base;
      }

      form {
        .form-item-email {
          float:left;
          input {
            background-color: $newsletter-input-bg-color;
            color: $newsletter-input-text-color;
            border:1px solid $newsletter-input-border-color;
            border-radius: $newsletter-input-border-radius;
          }
        }

        #subscribe {
          float:right;
          width:20%;
          input[type="submit"] {
            position: relative;
            top: 3px;
            width:100%;
            background-color: $newsletter-submit-bg-color;
            color: $newsletter-submit-text-color;
            border:1px solid $newsletter-submit-border-color;
            border-radius: $newsletter-submit-border-radius;
            transition:background-color .4s linear;
            &:hover {
              background-color: $newsletter-submit-bg-color-hover;
              color: $newsletter-submit-text-color-hover;
            }
          }
        }

      }


      &.isClosed {
        padding:0;
        display:none;

      }

    }
    .button {
      position: absolute;
      height: 100%;
      left: -12%;
      background-color: $newsletter-asButton-button-bg-color;
      border: 1px solid $newsletter-asButton-button-border-color;
      width: 28px;
      padding: 0;
      top: -1px;
      cursor:pointer;
      span {
        display:block;
        transform: rotate(-90deg);
        -webkit-transform: rotate(-90deg);
        -moz-transform: rotate(-90deg);
        -ms-transform: rotate(-90deg);
        -o-transform: rotate(-90deg);
        filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
        color: $newsletter-asButton-button-text-color;
        position: absolute;
        left: -28px;
        top: 50%;
        font-size: 17px

      }
      &:after {
        display: inline-block;
        font: normal normal normal 14px/1 FontAwesome;
        font-size: inherit;
        text-rendering: auto;
        -webkit-font-smoothing: antialiased;
        font-size:22px;
        content: "\f0e0";//$newlstter-icon-content;
        color: $newlstter-icon-color;
        float: left;
        left: 2px;
        position: relative;
        top: 5%;
        transform: rotate(0deg);
        transition:all .5s linear;

      }
      &:hover {
        background-color: $newsletter-asButton-button-bg-color-hover;
        border:1px solid  $newsletter-asButton-button-border-color-hover;
        span {
          color:$newsletter-asButton-button-text-color-hover;
        }
        &:after {
          color:#fff;
        }
      }
      &.isClosed {
        background-color: $newsletter-asButton-button-bg-color-hover;
        border:1px solid  $newsletter-asButton-button-bg-color-hover;
        span {
          color:$newsletter-asButton-button-text-color-hover;
        }
        &:after {
          transform: rotate(-90deg);
          color:$newsletter-asButton-button-text-color-hover;
        }


      }
    }


    &.isClosed {
      transform: translateX(100%);
    }
  }

  .asSinglePage{

    .button {
      display: none;
    }

    .container {
      padding: 0;
      width: 100%;
    }
    .block__title {
      color:$newsletter-title-color;
      background-color:$newsletter-title-bg-color;
      padding:10px;
      border-bottom: 1px solid $newsletter-title-border-bottom-color;
      margin: 0;
      font-size:$font-size-base;
      cursor:pointer;
      position:relative;

    }
    .block__content {
      padding:10px;
      height: auto;


      .prefix {
        color:$newsletter-prefixtext-color;
        margin-bottom: 14px;
        font-size: $font-size-base;
      }

      form {
        .terms {
          display: flex;
          flex-wrap: wrap;
          margin: 20px 0 30px 0px;
          .form-type-checkbox {
            display: inline-block;
            margin: 10px 0 0 0;
            flex-grow: 1;
            width: calc(100% * (1/5) - 10px - 1px);
          }
        }
        .form-item-email {
          float:left;
          width:100%;
          input {
            background-color: $newsletter-input-bg-color;
            color: $newsletter-input-text-color;
            border:1px solid $newsletter-input-border-color;
            border-radius: $newsletter-input-border-radius;
          }
        }
        #newsletter-error {
          float:left;
          width:100%;
          font-size: $font-size-base;
          margin-bottom: 10px;
          display: none;
          float: left;
          width: 100%;
          background-color: red;
          font-size: 14px;
          margin-bottom: 10px;
          display: none;
          color: $newsletter-text-error-color;
          padding: 10px 20px;
          text-align: center;
          margin-top: 20px;
          border-radius: 10px;
        }
        #subscribe {
          width: 20%;
          margin: auto;
          input[type="submit"] {
            width:100%;
            background-color: $newsletter-submit-bg-color;
            color: $newsletter-submit-text-color;
            border:1px solid $newsletter-submit-border-color;
            border-radius: $newsletter-submit-border-radius;
            transition:background-color .4s linear;
            &:hover {
              background-color: $newsletter-submit-bg-color-hover;
              color: $newsletter-submit-text-color-hover;
            }
          }
        }

      }


      &.isClosed {
        padding:0;
        display:none;

      }

    }
  }

.alert {
  float: left;
  width: 100%;
}
  #newsletter-error {
    float:left;
    width:100%;
    color:$newsletter-text-error-color;
    font-size: $font-size-base;
    margin-bottom: 10px;
    display: none;
  }
}



//Single Pge

#vactory-newsletter-manage-subscriptions-form {
  > div {
    display:flex;
    flex-direction: column;
    .field-name-field-newsletter-list {
      display:none;
    }
    .form-item-field-cat-gories-und {
      > label {
        display: none;
      }
    }

    fieldset {
      border: none;
      order: 1;

      legend {
        display: none;
      }
      .fieldset-wrapper {
        width:100%;
        padding:0;
      .form-group{
        width:100%;
        padding:0;
        label {
          margin:10px 0;
          display: block;
        }
        input {
          width:100%;
        }
      }

      }
    }
    .form-checkboxes {
      display: flex;
      flex-wrap: wrap;
      margin: 20px 0 30px 0px;
      .form-type-checkbox {
        display: inline-block;
        margin: 10px 0 0 0;
        flex-grow: 1;
        width: calc(100% * (1/5) - 10px - 1px);
        @media (max-width: $screen-sm) {
          width: calc(100% * (1/2) - 10px - 1px);
        }
      }
    }
    .form-submit {
      order:5;
      align-self: center;
      background-color:$newsletter-submit-bg-color;
      color:$newsletter-submit-text-color;
      &:hover {
        background-color: $newsletter-submit-bg-color-hover;
        color:$newsletter-submit-text-color-hover;
        border-radius:$newsletter-submit-border-radius;

      }
    }

  }

}


